{% extends 'core/base.html' %}
{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
<div class="card mx-auto rounded-4 shadow p-3 mb-5 bg-white rounded border-0" style="background-color: white; width: 95%; height: 90%; margin-bottom: 5%;  margin-top: 80px; ">
    <div class="d-flex justify-content-around">
            <div class="text">
                <h1 style="margin-bottom: 40px;">{{ product.title }}</h1>
                <p>Autor: <a href="#" class="text-success" style="text-decoration: none;">{{product.author}}</a></p>
                <p>
                
                    Incarcata de: <a href="{% url 'publisher_detail' product.user.id %}" class="text-success" style="text-decoration: none;">
                    {% firstof product.user.get_full_name product.user.username %}
                    </a>
                </p>
                <p>Editia: <span class="text-success">{{product.editie}}</span></p>
                <p>Editura: <span class="text-success">{{product.editura}}</span></p>
                <p>Categoria: <a class="text-success" href="{% url 'category_detail' product.category.slug %}" style="text-decoration: none;">{{product.category}}</a></p>
            </div>
            <div class="d-flex flex-column mb-3">  
                <img src="{% if product.image %} {{product.image.url}} {% else %} ../../../../../media/photo_2023-02-08_13-03-17.jpg {% endif %}" width="300vw" height="300vh" alt="Image of {{ product.title }}">
                <a href="{{ product.pdf.url }}" download>
                    <button class="text-bg-success rounded mx-auto border-0 shadow rounded" style="width: 100%;height: 100%; margin-top: 30px;">
                        Descarca
                    </button>
                </a>
                <!-- <div onclick='download("{{ product.pdf }},{{ product.title }}")'>
                    Descarca2
                </div>
                <script>
                    function download(url, name){
                        fetch(url).then(async(res))=>{

                        }
                    }
                </script> -->
                <!-- <iframe src="{{ product.pdf }}" frameborder="0"></iframe> -->
            </div>
    </div>
    <div class="mx-5">
        {% if product.description %}
        <h3 style="margin-top: 40px;">Descriere:</h3>
        <br>
        <p style="font-size: large;">
        {{product.description}}
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}