{% extends 'core/base.html' %}

{% block title %}
Contactati-ne
{% endblock %}

{% block content %}


<div class="card mx-auto rounded-4 shadow p-3 mb-5 bg-white rounded" style="background-color: white; width: 95%; height: 90%; margin-bottom: 5%;  margin-top: 80px; ">
    <h5 class="card-title mx-auto" style="margin-top: 50px;"><font size="6">Contactati-ne</font></h5>
    <div class="d-flex justify-content-around flex-wrap gap-3 align-items-center " style="margin-bottom: 5%;margin-left: 2%;margin-right: 2%;">
        <div class=" text-center"><h3>Contact:</h3>
            <p  style="font-size: large;">e-mail:  <a class="text-dark" style="text-decoration: none" href="mailto:tudor.boana@gmail.com"><u>tudor.boana@gmail.com</u></a>
            <br>Telefon: <a class="text-dark" href="tel:0123456789">0123456789</a>
            </p>
        </div>
        <p  style="font-size:large;">Adresa: <a class="text-dark" href="https://www.google.com/maps/place/Romania" target="_blank">Romania</a></p>
        <iframe class="rounded-4" style="width: 100%;height: 60vh;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3471309.3017368447!2d22.7775902837442!3d45.91996353668606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff26958976c3%3A0x84ef4f92a804b194!2zUm9tw6JuaWE!5e1!3m2!1sro!2sro!4v1676662383545!5m2!1sro!2sro"   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}